/*PAGE ACTIVITE*/
/*GLOBAL*/
h1{
    color: #198754;;
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
}
h2{
    text-align: center;
    padding: 50px;
}
h2::after{
    display: block;
    height: 2px;
    background-color: #198754;;
    width: 100px;
    content: '';
    margin: 0 auto;
    margin-top: 10px;
}
h4{
    padding-top: 5%;
    text-transform: uppercase;
    text-align: center;
}
/*NAVBAR*/
.nav a{
    color: black;
    list-style: none;
}
/*PAGE ACTIVITE*/
.details{
    box-shadow: 0 0 5px black;
    background-color: #198754;;
    border-radius: 10px;
}

.details p{
    color: black;
}
.details .btn{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.7s ease;
    margin-bottom: 20px;
}
.details .btn-1{
    background-color: chocolate;
    color: wheat;
    margin-right: 15px;
}
.details_2 .btn{
    
    background-color: chocolate;
    color: wheat;
    margin-right: 15px;
}
.details_3 .btn-1{
    background-color: chocolate;
    color: wheat;
    margin-right: 15px;
    position: relative;
    left: 850px;
    bottom: 250px;
}
/*PAGE ACTIVITE*/
.sorties-details{
    text-align: center;

}
.sorties-details img{
    height: 50%;
    border-radius: 50%;
}
.sorties-details{
    box-shadow: 0 0 5px black;
    background-color: #198754;;
    border-radius: 50px;
}
/*PAGE ACTIVITE*/
#image_et_texte{
    background-image: url(./ressources/images/contact.jpeg);
    color: honeydew;
    background-position: center;
    background-size: cover; 
}
/*PAGE ACTIVITE*/
footer{
    margin: 10px;
    text-align: center;
    background-color: #198754;;
}
footer img{

    margin: 10px;
    padding: 5px;
}
@media screen and (max-width: 800px) {
    .details{
        width: 200%;
        height: 100%;
    }
    .details .btn-1{
        position: relative;
        bottom: 40%;
        left: 80%;
    }
    .details_3 .btn-1{
        display: none;
    }
    .sorties-details img{
        width: 50%;
    }
}
@media  screen and (max-width: 768px) {
    .details_2 .btn-1{
        margin-bottom: 10%;
       
    }
}



/*PAGE ACTIVITE*/
.card{
    box-shadow: 0 0 5px black;
    background-color: #198754;;
    border-radius: 50px;
    text-align: center;
}

span{
    box-shadow: 0 0 5px#198754;
    background-color: #198754;
}

img{
        width: 60%;
        height: auto;
        border-radius: 20%;
        margin-left: 20%;
    }
